.section-title {
  background-color: black;
  color: white;
}
.section-progress {
  background-color: grey;
  width: 100px;
  height: 10px;
}
.section-block{
    display: flex;
    flex-wrap: wrap;
}
.section-block_item {
  display: flex;
  align-items: center;
  margin: 0 50px 0 50px;
}
.section-text {
  width: 100px;
}
