.section-title {
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.section-progress {
  background-color: Silver;
  width: 100px;
  height: 10px;
}
.section-progress_rate{
  background-color: DarkCyan;
  width: 30%;
  height: 10px;
}
.section-block{
    display: flex;
    flex-wrap: wrap;
}
.section-block_item {
  display: flex;
  align-items: center;
  margin: 0 50px 0 50px;
}
.block-text {
  width: 100px;
}
.section-text {
  padding: 0 0 0 5%;
}
.code{
padding: 0 10% 0 10%;
}